<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品浏览页</title>
    <link rel="stylesheet" th:href="@{/dist/css/zui.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}">
    <!-- ZUI Javascript 依赖 jQuery -->
    <script th:src="@{/dist/lib/jquery/jquery.js}"></script>
    <!-- ZUI 标准版压缩后的 JavaScript 文件 -->
    <script th:src="@{/dist/js/zui.min.js}"></script>
</head>
<style>
    td{
        text-align:center;
        vertical-align:middle;
    }
</style>
<body>
<div class="container-fixed-md" style="background-color: ">
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1" style="height: 100px;background-image: url(/img/后台图徽.png);background-size:100% 100%;"></div>
        <div class="col-xs-4 col-xs-offset-1">
            <div class="input-group" style="margin-top: 30px">
                <div class="input-control search-box  has-icon-left has-icon-right search-example" id="searchboxExample">
                    <input id="goodsname" type="search" class="form-control search-input" placeholder="搜索">
                    <label for="goodsname" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-primary" onclick="getAllpcandsc()" type="button">搜索</button>
                </span>
            </div>
        </div>
        <div class="col-xs-3 col-xs-offset-1">
            <div class="row">

                <div class="col-xs-6" style="margin-top: 10px">
                    <span hidden id="userid" style="font-size: 18px;font-weight: 800" >[[${session.loginuser2.userId}]]</span>
                    用户：<span style="font-size: 18px;font-weight: 800" >[[${session.loginuser2.userName}]]</span>
                </div>
                <div class="col-xs-6" style="margin-top: 10px"><a style="font-size: 18px;font-weight: 800">购物车</a></div>
                <div class="col-xs-6" style="margin-top: 10px"><a style="font-size: 18px;font-weight: 800">订单管理</a></div>
            </div>
        </div>
    </div>
    <div style="width: 102.2%; height: 30px;margin-left: -1.1%">
        <nav class="navbar navbar-default" role="navigation" style="border-radius: initial">
            <ul class="nav navbar-nav nav-justified" style="padding-right: 0px;z-index: 999">
                <li class="active"><a th:href="@{/user/usermain.html}">首页</a></li>
                <li><a onclick="showgoodspage()">零食中心</a></li>
                <li class=""><a onclick="showorder()">购物车</a></li>
                <li><a onclick="initialservicemanager()">订单</a></li>
                <li class=""><a onclick="colletionmanagerpage()">收藏</a></li>
            </ul>
        </nav>
    </div>

    <div class="row" id="operationcontent2" style="margin-top:10px ">


    </div>
    <ul style="margin-left: 35%" id="myPage" data-ride="pager" class="pager" data-page="1" data-rec-per-page="6" data-rec-total="14"
        data-elements="prev,nav,next,first,last,goto">
    </ul>
    <div class="" id="operationcontent3" >

    </div>
</div>
</body>
<script th:src="@{/js/common.js}"></script>
</html>
<script>

   var operationcontent2=document.getElementById("operationcontent2");
   var operationcontent3=document.getElementById("operationcontent3");
   var count=0
   var allpage=0;
   var pagesize=6;
   var start=1;
   var pagesstatus=1;
   var scid;
   userinitialpage()
   $(function () {
       $('#myPage').on('onPageChange', function(e, state, oldState) {
           if (state.page !== oldState.page) {
               start=state.page;
               if(0<start && start<=allpage){
                   if (pagesstatus==1){
                       getAllpcandsc();
                   }else if(pagesstatus==2){
                       colletionmanager();
                   }else if(pagesstatus==3){
                       showorderpage();
                   }else if(pagesstatus==4){
                       servicemanager()
                   }
               }
           }
       });
   })
   function collectiondeleteone(id) {

       $.ajax({
           type:"GET",
           url:"/collection/deleteone",
           data:{
               collectionid:id
           },
           success:function (data) {
               if(data==1){
                   success("删除收藏成功： "+id);
               }else {
                   fail("删除收藏失败： "+id)
               }
               colletionmanager();
           }
       })
   }
   function orderdeleteone(id) {

       $.ajax({
           type:"GET",
           url:"/order/deleteone",
           data:{
               orderid:id
           },
           success:function (data) {
               if(data==1){
                   success("删除收藏成功： "+id);
               }else {
                   fail("删除收藏失败： "+id)
               }
               showorderpage();
           }
       })
   }
   function colletionmanagerpage() {
       pagesstatus=2
       start=1
       colletionmanager();
   }

   function colletionaddone(goodsid) {
       $.ajax({
           type: "get",
           datatype: "json",
           url: "/collection/addone",
           data: {
               goodsid: goodsid
           },
           success: function (data) {
            if(data==0){
                fail("加入收藏失败")
            }else if(data==1){
                success("加入收藏成功")
            }else if(data==2){
                fail("已有收藏")
            }
           }
       })
   }
   function getAllpcandscscid(a) {
       scid=a
       getAllpcandsc()
   }
   function showorder() {
       start=1
       showorderpage()
   }
   function serviceaddone(orderid,goodsid,number,price){
       $.ajax({
           type: "get",
           datatype: "json",
           url: "/service/addone",
           data: {
               orderid: orderid,
               goodsid: goodsid,
               price: price,
               number: number
           },
           success: function (data) {
                if(data==0){
                    fail("订购失败")
                }else if(data==1){
                    success("订购成功")
                }else if(data==2){
                    fail("余额不足")
                }else if(data==3){
                    fail("库存不足")
                }
               showorderpage()
           }
       })
   }
   function showorderpage() {
       pagesstatus=3
       $('#myPage').show()
       $('#operationcontent3').hide()
       $.ajax({
           type: "get",
           datatype: "json",
           url: "/order/page",
           data: {
               start:start,
               pagesize:pagesize,
               userid:$("#userid").text()
           },
           success: function (data) {
                // console.log(data)
               count=data.orderlist.total;
               allpage=data.orderlist.pages;
               var myPager = $('#myPage').data('zui.pager');
               myPager.set({
                   page:start,
                   recTotal: count,
                   recPerpage: allpage,
                   lang:"zh_cn"
               });
               var str="";
               str+="<table class=\"table\" style=\"color: blue;\" \n" ;
               str+="<thead class=\"success\" >\n" +
                   "                    <tr>\n" +
                   "                        <td>订单编号</td>\n" +
                   "                        <td>商品名称</td>\n" +
                   "                        <td>价格</td>\n" +
                   "                        <td>数量</td>\n" +
                   "                        <td>图片</td>\n" +
                   "                        <td>加入时间</td>\n" +
                   "                        <td>操作</td>\n" +
                   "                    </tr>\n" +
                   "                </thead>\n" ;
               for(var i=0;i<data.goodslist.length;i++){
                   var goods=data.goodslist[i];
                   var gid=goods.goodsId+"";
                   var order=data.orderlist.records[i]
                   str+="<tr class='success'>";
                   str+="<td width='100px'>";
                   str+=order.orderId;
                   str+="</td>";
                   str+="<td width='100px'>";
                   str+=goods.goodsName;
                   str+="</td>";
                   str+="<td width='50px'>";
                   str+=order.price;
                   str+="</td>";
                   str+="<td width='50px'>";
                   str+=order.number;
                   str+="</td>";
                   str+="<td>";
                   str+="<img  width='60px' height='60px' src='"+goods.goodsPic+"'>";
                   str+="</td>";
                   str+="<td width='100px'>";
                   str+=order.createTime.slice(0,10)+'<br>'+order.createTime.slice(11,19);
                   str+="</td>";
                   str+="<td>";
                   str+="<a type=\"button\" class=\"btn btn-primary\" onclick=\"serviceaddone('"+order.orderId+"','"+gid+"','"+order.number+"','"+order.price+"')\">结算</a>"
                   str+="<button type=\"button\" class=\"btn btn-danger\" onclick=\"orderdeleteone('"+order.orderId+"')\">删除</button>";
                   str+="</td>";
                   str+="</tr>";
               }
               str+= "                    </table>";
               operationcontent2.innerHTML=str
           }
       })
   }
   function userinitialpage() {
        $('#myPage').hide()
        // $('#tableinfo').hide()
        $.ajax({
            type: "get",
            datatype: "json",
            url: "/recommend/getbystatus",
            data: {

            },
            success: function (data) {
                console.log(data)

                var str = ""
                str += "<div class=\"col-xs-12\">\n" +
                    "            <div id=\"myNiceCarousel\" class=\"carousel slide\" data-ride=\"carousel\" style=\"margin-top: 20px;height: 250px\">\n" +
                    "                <!-- 圆点指示器 -->\n";
                str += "                <ol class=\"carousel-indicators\">\n";
                 for (var i=0;i<data.recommend3.length;i++){
                     str+="                <li data-target=\"#myNiceCarousel\" data-slide-to=\""+i+"\"></li>\n" ;
                 }
                str+="                </ol>\n" +
                    "\n" +
                    "                <!-- 轮播项目 -->\n" +
                    "                <div class=\"carousel-inner\">\n" ;
                for (var i=0;i<data.recommend3.length;i++) {
                    if (i==0){
                        str += "                    <div class=\"item active\">\n" +
                            "                        <a href='/goods/details?goodsid="+data.recommend3[i].goodsId+"'><img alt=\"" + i + " slide\" src=\'" + data.recommend3[i].recommendPic + "' style='height: 250px;max-height: 100%;max-width: 100%'></a>\n" +
                            "                        <div class=\"carousel-caption\">\n" +
                            "                            <h3></h3>\n" +
                            "                            <p></p>\n" +
                            "                        </div>\n" +
                            "                    </div>\n";
                    }else{
                        str += "                    <div class=\"item\">\n" +
                            "                        <a href='/goods/details?goodsid="+data.recommend3[i].goodsId+"'><img alt=\"" + i + " slide\" src=\'" + data.recommend3[i].recommendPic + "' style='height: 250px;max-height: 100%;max-width: 100%'></a>\n" +
                            "                        <div class=\"carousel-caption\">\n" +
                            "                            <h3></h3>\n" +
                            "                            <p></p>\n" +
                            "                        </div>\n" +
                            "                    </div>\n";
                    }
                }
                str+="                </div>\n" +
                    "                <!-- 项目切换按钮 -->\n" +
                    "                <a class=\"left carousel-control\" href=\"#myNiceCarousel\" data-slide=\"prev\">\n" +
                    "                    <span class=\"icon icon-chevron-left\"></span>\n" +
                    "                </a>\n" +
                    "                <a class=\"right carousel-control\" href=\"#myNiceCarousel\" data-slide=\"next\">\n" +
                    "                    <span class=\"icon icon-chevron-right\"></span>\n" +
                    "                </a>\n" +
                    "            </div>\n" +
                    "        </div>"
                operationcontent2.innerHTML=str;
                var str2="";
                str2+="<div class=\"cards row\" style=\"margin-top: 20px;margin-left:0px;width: 100%\" >"
                for(var i=0;i<data.recommend12.length;i++){
                    str2+="<div class=\"col-xs-4\">\n" +
                        "                <div class=\"card\"><a href='/goods/details?goodsid="+data.recommend12[i].goodsId+"'><img src=\'" + data.recommend12[i].recommendPic + "'></a></div>\n" +
                        "            </div>"
                }
                str2+="</dev>"
                operationcontent3.innerHTML=str2;
            }
        });
    }
   function showgoodspage() {
       start=1
       scid=""
        getAllpcandsc();
    }
   function getAllpcandsc() {
        pagesstatus=1
        $('#myPage').show()
        $("#operationcontent3").hide();
        // $('#tableinfo').hide()
        $.ajax({
            type: "get",
            datatype: "json",
            url: "/primarycate/showgoodspanel",
            data: {
                start:start,
                pagesize:pagesize,
                name:$("#goodsname").val(),
                scid:scid
            },
            success: function (data) {
                console.log(data)
                count=data.goodslist.total;
                allpage=data.goodslist.pages;
                var myPager = $('#myPage').data('zui.pager');
                myPager.set({
                    page:start,
                    recTotal: count,
                    recPerpage: pagesize,
                    lang:"zh_cn"
                });
                var str=""
                str+="<div class=\"col-xs-3\" style=\" border: 2px solid #DDDDDD;margin-left: 5px;padding: 0 0 0 0\">\n" +
                    "            <div class=\"col-xs-12\" style=\"text-align: center;background-color: #FFC0CB;\"><span style=\"font-size: 18px;font-weight: 800\">类别中心</span></div>\n" ;

                for(var i=0;i<data.primarycateList.length;i++){
                    str+=   "            <div class=\"col-xs-12 \" style=\"text-align: center;background-color: #DDDDDD\"><a><span style=\"font-size: 15px;font-weight: 800;font\">"+data.primarycateList[i].pcName+"</span></a></div>\n" ;
                    str+=   "            <div class=\"col-xs-12\">\n"
                    var account=1;
                    for(var k=0 ;k<data.secondarycateList.length;k++){
                        if(data.primarycateList[i].pcId==data.secondarycateList[k].pcId){
                            if((account)%3==0){
                                str+="                <a onclick=\"getAllpcandscscid('"+data.secondarycateList[k].scId+"')\"><span>"+data.secondarycateList[k].scName+"</span></a><br>"
                            }else {
                                str+= "                <a onclick=\"getAllpcandscscid('"+data.secondarycateList[k].scId+"')\"><span >"+data.secondarycateList[k].scName+"</span>&nbsp;&nbsp;&nbsp;</a>\n" ;
                            }
                            account+=1
                        }
                    }
                    str+="        </div>";
                }
                str+="            </div>\n"
                str+="<div class=\"col-xs-8\" id='goodsinfo' style=\"margin-left: 70px\">\n" +
                    "            <div class=\"row\">\n" ;
                if(data.goodslist.total==0){
                    str+="<span style='font-size:25px;font-weight: 800 '>没有此类别商品</span>"
                }
                str+="                <div class=\"cards\">\n" ;
                for(var m=0;m<data.goodslist.records.length;m++){
                    var goods=data.goodslist.records[m]
                    str+=   "                    <div class=\"col-md-4\">\n" +
                        "                        <a class=\"card\" href=\"###\">\n" +
                        "                            <a href='/goods/details?goodsid="+goods.goodsId+"'><img src=\""+goods.goodsPic+"\" alt=\"\"></a>\n" +
                        "                            <div class=\"card-heading\"><strong>"+goods.goodsName+"</strong></div>\n" +
                        "                            <div class=\"card-content text-muted\">"+goods.goodsPrice+"</div>\n" +
                        "                            <div class=\"\">\n" +
                        "                                <button onclick=\"colletionaddone('"+goods.goodsId+"')\"  type=\"button\" class=\"btn btn-danger\"><i class=\"icon-heart\"></i> 收藏</button>\n" +
                        "                                <div class=\"pull-right text-danger\"><i class=\"icon-heart-empty\"></i> 520 人喜欢</div>\n" +
                        "                            </div>\n" +
                        "                        </a>\n" +
                        "                    </div>\n" ;
                }
                str+="                </div>\n" +
                    "            </div>\n" +
                    "        </div>"
                operationcontent2.innerHTML=str;
            }
        });
    }
   function colletionmanager(){
       pagesstatus=2
       $('#myPage').show()
       $('#operationcontent3').hide()
       $.ajax({
           type: "get",
           datatype: "json",
           url: "/collection/page",
           data: {
               start:start,
               pagesize:pagesize,
               userid: $('#userid').text()
           },
           success: function (data) {
               console.log(data)
               count=data.collectionlist.total;
               allpage=data.collectionlist.pages;
               var myPager = $('#myPage').data('zui.pager');
               myPager.set({
                   page:start,
                   recTotal: count,
                   recPerpage: pagesize,
                   lang:"zh_cn"
               });
               var str="";
               str+="<table class=\"table\" style=\"color: blue;\" \n" ;
               str+="<thead class=\"success\" >\n" +
                   "                    <tr>\n" +
                   "                        <td>商品编号</td>\n" +
                   "                        <td>商品名称</td>\n" +
                   "                        <td>价格</td>\n" +
                   "                        <td>图片</td>\n" +
                   "                        <td>状态</td>\n" +
                   "                        <td>操作</td>\n" +
                   "                    </tr>\n" +
                   "                </thead>\n" ;
               for(var i=0;i<data.goodslist.length;i++){
                   var goods=data.goodslist[i];
                   var gid=goods.goodsId;
                   str+="<tr class='success'>";
                   str+="<td width='100px'>";
                   str+=gid;
                   str+="</td>";
                   str+="<td width='100px'>";
                   str+=goods.goodsName;
                   str+="</td>";
                   str+="<td width='50px'>";
                   str+=goods.goodsPrice;
                   str+="</td>";
                   str+="<td>";
                   str+="<img  width='80px' height='60px' src='"+goods.goodsPic+"'>";
                   str+="</td>";
                   str+="<td width='60px'>";
                   if(goods.goodsStatus==1){
                       str+="已上架"
                   }else {
                       str+="未上架"
                   }
                   str+="</td>";
                   str+="<td>";
                   str+="<a type=\"button\" class=\"btn btn-primary\"  href='/goods/details?goodsid="+gid+"'>详情</a><button type=\"button\" class=\"btn btn-danger\" onclick=\"collectiondeleteone('"+data.collectionlist.records[i].collectionId+"')\">删除</button>";
                   str+="</td>";
                   str+="</tr>";
               }

               str+= "                    </table>";
               operationcontent2.innerHTML=str
           }
       });
   }
   function servicedeleteone(serviceid){
       $.ajax({
           type: "get",
           datatype: "json",
           url: "/service/deleteone",
           data: {
               serviceid: serviceid
           },
           success: function (data) {
               if (data==0){
                   fail("删除失败,订单还未完成")
               }else if (data==1) {
                   success("删除成功")
               }else if(data==2){
                   fail("订单不存在")
               }
               servicemanager()
           }
       })
   }
   function refund(serviceid) {
       $.ajax({
           type: "get",
           datatype: "json",
           url: "/service/refund",
           data: {
               serviceid:serviceid
           },
           success: function (data) {
               if (data==0){
                   fail("申请失败")
               }else if(data==1){
                   success("申请成功")
               }else if(data==2){
                   fail("订单不存在")
               }
               servicemanager()
           }
       })
   }
   function  initialservicemanager() {
       start=1;
       servicemanager()
   }
   function servicemanager() {
       pagesstatus=4
       $('#myPage').show()
       $('#operationcontent3').hide()
       $.ajax({
           type: "get",
           datatype: "json",
           url: "/service/page",
           data: {
               start: start,
               pagesize: pagesize,
               userid:$('#userid').text()
           },
           success: function (data) {
               console.log(data)
               count=data.servicelist.total;
               allpage=data.servicelist.pages;
               var myPager = $('#myPage').data('zui.pager');
               myPager.set({
                   page:start,
                   recTotal: count,
                   recPerpage: pagesize,
                   lang:"zh_cn"
               });
               var str="";
               str+="<table class=\"table\" style=\"color: blue;\" \n" ;
               str+="<thead class=\"success\" >\n" +
                   "                    <tr>\n" +
                   "                        <td>编号</td>\n" +
                   "                        <td>价格</td>\n" +
                   "                        <td>数量</td>\n" +
                   "                        <td>图片</td>\n" +
                   "                        <td>服务类别</td>\n" +
                   "                        <td>审核状态</td>\n" +
                   "                        <td>下单时间</td>\n" +
                   "                        <td>操作</td>\n" +
                   "                    </tr>\n" +
                   "                </thead>\n" ;
               for(var i=0;i<data.goodslist.length;i++){
                   var goods=data.goodslist[i];
                   var gid=goods.goodsId;
                   var service=data.servicelist.records[i]
                   str+="<tr class='success'>";
                   str+="<td width='100px'>";
                   str+=service.serverId;
                   str+="</td>";
                   str+="<td width='100px'>";
                   str+=service.servicePrice;
                   str+="</td>";
                   str+="<td width='50px'>";
                   str+=service.serviceNumber;
                   str+="</td>";
                   str+="<td>";
                   str+="<img  width='80px' height='60px' src='"+goods.goodsPic+"'>";
                   str+="</td>";
                   str+="<td width='100px'>";
                   if(service.serviceCage==0){
                       str+="正常"
                   }else if(service.serviceCage==1){
                       str+="申请退款"
                   }else if(service.serviceCage==2){
                       str+="申请赔付"
                   }
                   str+="</td>";
                   str+="<td width='100px'>";
                   if(service.serviceStatus==0){
                       str+="无"
                   }else if(service.serviceStatus==1){
                       str+="待审核"
                   }else if(service.serviceStatus==2){
                       str+="审核完成"
                   }else if(service.serviceStatus==3){
                       str+="订单完成"
                   }
                   str+="</td>";
                   str+="<td width='100px'>";
                   str+=service.createTime.slice(0,10)+'<br>'+service.createTime.slice(11,19);
                   str+="</td>";
                   str+="<td>";
                   str+= "<button type=\"button\" class=\"btn btn-success\" onclick=\"refund('"+service.serverId+"')\">申请退款</button>";
                   str+="<button type=\"button\" class=\"btn btn-success\" onclick=\"servicedeleteone('"+service.serverId+"')\">删除</button>";
                   str+="</td>";
                   str+="</tr>";
               }

               str+= "                    </table>";
               operationcontent2.innerHTML=str
           }
       })
   }
   
</script>